@use '../../styles/variables' as *;
@use '../../styles/_mixins' as *;



.content {
  display: block;
  padding: 40px 100px;
  color: var(--text);


  &_top {
    height: 100px;
    margin-bottom: $space-2;
    display: flex;
    align-items: center;
    justify-content: space-between;



    &_list{
      display: flex;
      gap: $space-4;
      font-size: 1.25rem;

      li{
        border: 1px solid $accent;
        padding: $space-2 $space-1;
        border-radius: $radius-lg;
        cursor: pointer;
        box-shadow: 0 3px 5px rgba(2,6,23,0.6);
        @include transition(transform, 420ms);

        &:hover {
          transform: translateY(-5px) scale(1.01);
          box-shadow: 0 5px 10px rgba(12,16,40,0.6);
        }

        &:active {
          transform: translateY(-3px);
          box-shadow: 0 4px 7px rgba(12,16,40,0.6);
        }


      }

      .active{
        background-color: $accent;
      }
    }

    &_search {
      background-color: $bg;
      border-radius: $radius-lg;
      border: 1px solid $accent;
      padding: $space-2 $space-3;
      font-size: 1rem;
      color: var(--text);
      &:focus{
        outline: none;
        border: 1px solid $accent;
      }
    }

  }



  &_title {
    margin: $space-2 0;
    font-size: 1.25rem;
    letter-spacing: 0.6px;
  }

  &_items {
    display: grid;
    gap: $space-3;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include respond(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include respond(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &_empty{
      display: flex;
      flex-direction: column;
      gap: $space-4;
      align-items: center;
      justify-content: center;

      img{
        border-radius: $radius-lg;
      }
    }

  }
}


